.u-section-1 {
    background-image: url("../images/IMG-20221031-WA0006.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 297px;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: Al-Jazeera-Arabic-Regular;
    font-weight: 700;
    margin: 83px 0 60px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 245px;
    }
    .u-section-1 .u-text-1 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
        width: 678px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 188px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 141px;
    }
    .u-section-1 .u-text-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 89px;
    }
    .u-section-1 .u-text-1 {
        font-size: 1.875rem;
        width: 340px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 227px;
}

.u-section-2 .u-layout-wrap-1 {
    margin: 13px 0 29px;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 186px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 30px 13px;
}

.u-section-2 .u-text-1 {
    margin-bottom: 0;
    margin-top: 5px;
    font-family: cairo;
    font-size: 1.1rem;
    background-image: none;
    font-weight: 400;
}

.u-section-2 .u-image-1 {
    min-height: 186px;
    background-image: url("../images/presidentteboune.jpg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 276px;
    }
    .u-section-2 .u-layout-wrap-1 {
        position: relative;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 153px;
    }
    .u-section-2 .u-image-1 {
        min-height: 153px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 199px;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-2 .u-image-1 {
        min-height: 117px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 706px;
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-2 .u-image-1 {
        min-height: 351px;
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 424px;
    }
    .u-section-2 .u-layout-cell-1 {
        order: 1;
    }
    .u-section-2 .u-image-1 {
        min-height: 221px;
        order: 0;
    }
}

.u-section-3 {
    background-image: none;
    min-height: 409px;
}

.u-section-3 .u-image-1 {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 409px;
    background-image: url("../images/GoldBlueLawFirmSleekCorporateLawFirmWebsite1.png");
    background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
    padding: 0;
}

.u-section-3 .u-text-1 {
    font-size: 3rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-family: JannaLT-Regular;
    margin: 24px 80px 0;
}

.u-section-3 .u-text-2 {
    line-height: 2;
    font-size: 1.25rem;
    width: 794px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    font-family: Al-Jazeera-Arabic-Regular;
    margin: 17px auto 0;
}

@media (max-width: 1199px) {
    .u-section-3 .u-image-1 {
        height: auto;
    }
    .u-section-3 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-text-2 {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-text-2 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-text-1 {
        font-size: 1.875rem;
    }
    .u-section-3 .u-text-2 {
        width: 340px;
    }
}

.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 371px;
}

.u-section-4 .u-text-1 {
    font-family: Al-Jazeera-Arabic-Regular;
    background-image: none;
    font-size: 3rem;
    font-weight: 400;
    margin: 54px 0 0;
    color: #37414d;
}

.u-section-4 .u-list-1 {
    grid-template-rows: auto;
    grid-auto-rows: 100%;
    margin-top: 26px;
    margin-bottom: 10px;
}

.u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 224px;
    grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
    background-image: none;
}

.u-section-4 .u-container-layout-1 {
    padding: 13px 23px 0;
}

.u-section-4 .u-icon-1 {
    height: 95px;
    width: 95px;
    margin: 0 auto;
    padding: 0;
}

.u-section-4 .u-text-2 {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.5rem;
    font-family: hanimation-regular;
    font-weight: 500;
    margin: 13px auto 0;
}

.u-section-4 .u-btn-1 {
    background-image: none;
}

.u-section-4 .u-list-item-2 {
    background-image: none;
}

.u-section-4 .u-container-layout-2 {
    padding: 13px 23px 0;
}

.u-section-4 .u-icon-2 {
    height: 95px;
    width: 95px;
    margin: 0 auto;
    padding: 0;
}

.u-section-4 .u-text-3 {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.5rem;
    font-family: hanimation-regular;
    font-weight: 500;
    margin: 13px auto 0;
}

.u-section-4 .u-btn-2 {
    background-image: none;
}

.u-section-4 .u-list-item-3 {
    background-image: none;
}

.u-section-4 .u-container-layout-3 {
    padding: 13px 23px 0;
}

.u-section-4 .u-icon-3 {
    height: 95px;
    width: 95px;
    margin: 0 auto;
    padding: 0;
}

.u-section-4 .u-text-4 {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.5rem;
    font-family: hanimation-regular;
    font-weight: 500;
    margin: 13px auto 0;
}

.u-section-4 .u-btn-3 {
    background-image: none;
}

@media (max-width: 1199px) {
    .u-section-4 .u-repeater-1 {
        grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
        min-height: 339px;
    }
    .u-section-4 .u-list-item-1 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }
    .u-section-4 .u-icon-1 {
        padding: 14px;
    }
    .u-section-4 .u-list-item-2 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }
    .u-section-4 .u-icon-2 {
        padding: 14px;
    }
    .u-section-4 .u-list-item-3 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }
    .u-section-4 .u-icon-3 {
        padding: 14px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 15px));
        min-height: 779px;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-repeater-1 {
        grid-template-columns: 100%;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
        min-height: 100vh;
    }
    .u-section-4 .u-text-1 {
        font-size: 1.5rem;
    }
    .u-section-4 .u-list-1 {
        margin-top: 54px;
        margin-bottom: 20px;
    }
    .u-section-4 .u-repeater-1 {
        min-height: 645px;
    }
    .u-section-4 .u-text-2 {
        width: auto;
        margin-top: 0;
    }
    .u-section-4 .u-text-3 {
        width: auto;
        margin-top: 0;
    }
    .u-section-4 .u-text-4 {
        width: auto;
        margin-top: 0;
    }
}

.u-section-5 .u-sheet-1 {
    min-height: 537px;
}

.u-section-5 .u-text-1 {
    font-family: Al-Jazeera-Arabic-Regular;
    font-size: 3rem;
    background-image: none;
    margin: 46px 80px 0;
}

.u-section-5 .u-list-1 {
    margin: 32px 0 35px;
}

.u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 352px;
    grid-gap: 30px 30px;
}

.u-section-5 .u-list-item-1 {
    background-size: cover;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
}

.u-section-5 .u-container-layout-1 {
    padding: 30px 30px 27px;
}

.u-section-5 .u-text-2 {
    font-size: 3rem;
    background-image: none;
    font-weight: 700;
    margin: 0;
}

.u-section-5 .u-text-3 {
    font-family: JannaLT-Regular;
    font-weight: 700;
    margin: 19px 0 0;
}

.u-section-5 .u-list-item-2 {
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
}

.u-section-5 .u-container-layout-2 {
    padding: 30px 30px 27px;
}

.u-section-5 .u-text-4 {
    font-size: 3rem;
    background-image: none;
    font-weight: 700;
    margin: 0;
}

.u-section-5 .u-text-5 {
    font-family: JannaLT-Regular;
    font-weight: 700;
    margin: 19px 0 0;
}

.u-section-5 .u-list-item-3 {
    background-size: cover;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
}

.u-section-5 .u-container-layout-3 {
    padding: 30px 30px 27px;
}

.u-section-5 .u-text-6 {
    font-size: 3rem;
    background-image: none;
    font-weight: 700;
    margin: 0;
}

.u-section-5 .u-text-7 {
    font-family: JannaLT-Regular;
    font-weight: 700;
    margin: 19px 0 0;
}

@media (max-width: 1199px) {
    .u-section-5 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 0.3;
    }
    .u-section-5 .u-list-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-5 .u-repeater-1 {
        grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
        min-height: 287px;
    }
    .u-section-5 .u-list-item-1 {
        background-position: 50% 50%;
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }
    .u-section-5 .u-list-item-2 {
        background-position: 50% 50%;
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 0.3;
    }
    .u-section-5 .u-list-item-3 {
        background-position: 50% 50%;
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 15px));
        min-height: 705px;
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-repeater-1 {
        grid-template-columns: 100%;
    }
    .u-section-5 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-5 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-5 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-text-1 {
        width: auto;
        font-size: 1.5rem;
    }
    .u-section-5 .u-text-2 {
        font-size: 2.25rem;
    }
    .u-section-5 .u-text-4 {
        font-size: 2.25rem;
    }
    .u-section-5 .u-text-6 {
        font-size: 2.25rem;
    }
}

.u-section-5 .u-list-item-3,
.u-section-5 .u-list-item-3:before,
.u-section-5 .u-list-item-3>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
    box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-5 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
    box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-5 .u-list-item-2,
.u-section-5 .u-list-item-2:before,
.u-section-5 .u-list-item-2>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
    box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-5 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
    box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-5 .u-list-item-1,
.u-section-5 .u-list-item-1:before,
.u-section-5 .u-list-item-1>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
    box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-5 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
    box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
}

html {
    direction: ltr;
    font-family: "Droid Sans", sans-serif/*rtl:prepend:"Droid Arabic Kufi",*/
    ;
    font-size: 16px/*rtl:14px*/
    ;
}

@font-face {
    font-family: 'Al-Jazeera-Arabic-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Al-Jazeera-Arabic-Regular.ttf);
}

@font-face {
    font-family: 'JannaLT-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/JannaLT-Regular.ttf);
}

@font-face {
    font-family: 'hanimation-regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/hanimation-regular.ttf);
}